__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

venv/
env/
ENV/
.venv/

instance/

.env
.env.*

*.db
*.sqlite
*.sqlite3


.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

.pytest_cache/
.mypy_cache/
coverage/